<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <h6>History</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Integer vitae justo eget magna fermentum iaculis eu non. Elementum integer enim
                neque volutpat ac tincidunt vitae semper. Vel eros donec ac odio. Eget mauris pharetra et ultrices neque
                ornare aenean. Tempus quam pellentesque nec nam aliquam sem et. Tempor nec feugiat nisl pretium fusce.
                Urna nunc id cursus metus aliquam eleifend mi. Dictumst vestibulum rhoncus est pellentesque elit
                ullamcorper dignissim cras. Lacus luctus accumsan tortor posuere ac ut consequat semper. Neque ornare
                aenean euismod elementum nisi quis eleifend. Accumsan in nisl nisi scelerisque. Ipsum nunc aliquet
                bibendum enim facilisis gravida neque convallis a. Non enim praesent elementum facilisis leo. Id neque
                aliquam vestibulum morbi blandit. Id neque aliquam vestibulum morbi blandit cursus risus at. Et magnis
                dis parturient montes. Integer vitae justo eget magna fermentum iaculis eu. Integer vitae justo eget
                magna fermentum iaculis eu non diam.</p>
        </div>
        <div class="col-xs-6 col-md-3">
            <h6>Contacts</h6>
            <p>
                <i class="fas fa-home mr-3"></i> Bregu i Diellit, Prishtine, RKS</p>
            <p>
                <i class="fas fa-envelope mr-3"></i> pitepite@gmail.com</p>
            <p>
                <i class="fas fa-phone mr-3"></i> +383 4x 111 111</p>
            <p>
                <i class="fas fa-print mr-3"></i> +383 4x 111 111</p>

            <h6>Follow Us</h6>

            <span><a class="facebook" href="#"><i class="fab fa-facebook fa-2x"></i></a></span>
            <span><a class="twitter" href="#"><i class="fab fa-twitter fa-2x"></i></a></span>
            <span><a class="dribbble" href="#"><i class="fab fa-instagram fa-2x"></i></a></span>
            <span><a class="linkedin" href="#"><i class="fab fa-linkedin fa-2x"></i></a></span>

        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy;2020 All Rights Reserved.</p>
        </div>
    </div>
</div>