<script type="text/javascript" src="{{ url_for('static', filename='js/navbar-reaction.js') }}"></script>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#timeline">Journey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#whatwedo">What we do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#stats">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacts">Contacts</a>
            </li>
        </ul>
    </div>
</nav>