<h5>Online stats</h5>
<div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
    <div class="p-2 bd-highlight">
        <div class="stats">
            <div class="circle-big"></div>
            <div class="circle"></div>
            <div class="circle-small"></div>
            <div class="stats-inner">Lorem Ipsum</div>
        </div>
    </div>
    <div class="p-2 bd-highlight">
        <div class="stats">
            <div class="circle-big"></div>
            <div class="circle"></div>
            <div class="circle-small"></div>
            <div class="stats-inner">Lorem Ipsum</div>
        </div>
    </div>
    <div class="p-2 bd-highlight">
        <div class="stats">
            <div class="circle-big"></div>
            <div class="circle"></div>
            <div class="circle-small"></div>
            <div class="stats-inner">Lorem Ipsum</div>
        </div>
    </div>
</div>