<ul class="timeline">
    <!-- Event 3 -->
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">Event 3</span>
                <span class="time-wrapper"><span class="time">Start time - End time</span></span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.
            </div>
        </div>
    </li>

    <!-- Event 2 -->
    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">Event 2</span>
                <span class="time-wrapper"><span class="time">Sart time - End time</span></span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </li>
    <!-- Event 1 -->
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">Event 1</span>
                <span class="time-wrapper"><span class="time">Start time - End time</span></span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.
            </div>
        </div>
    </li>
    <!-- Event 0 -->
    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">Event 0</span>
                <span class="time-wrapper"><span class="time">Sart time - End time</span></span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </li>
    <!-- Event -1 -->
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">Event -1</span>
                <span class="time-wrapper"><span class="time">Sart time - End time</span></span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </li>
</ul>