<div class="what-desc">
    <h5>What we do</h5>
    <div class="what-desc-inner">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Integer vitae justo eget magna fermentum iaculis eu non. Elementum integer enim neque volutpat
            ac tincidunt vitae semper. Vel eros donec ac odio. Eget mauris pharetra et ultrices neque ornare aenean.
            Tempus quam pellentesque nec nam aliquam sem et. Tempor nec feugiat nisl pretium fusce. Urna nunc id cursus
            metus aliquam eleifend mi. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.
            Lacus luctus accumsan tortor posuere ac ut consequat semper. Neque ornare aenean euismod elementum nisi quis
            eleifend. Accumsan in nisl nisi scelerisque. Ipsum nunc aliquet bibendum enim facilisis gravida neque
            convallis a. Non enim praesent elementum facilisis leo. Id neque aliquam vestibulum morbi blandit. Id neque
            aliquam vestibulum morbi blandit cursus risus at. Et magnis dis parturient montes. Integer vitae justo eget
            magna fermentum iaculis eu. Integer vitae justo eget magna fermentum iaculis eu non diam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Integer vitae justo eget magna fermentum iaculis eu non. Elementum integer enim neque volutpat
            ac tincidunt vitae semper. Vel eros donec ac odio. Eget mauris pharetra et ultrices neque ornare aenean.
            Tempus quam pellentesque nec nam aliquam sem et. Tempor nec feugiat nisl pretium fusce. Urna nunc id cursus
            metus aliquam eleifend mi. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.
            Lacus luctus accumsan tortor posuere ac ut consequat semper. Neque ornare aenean euismod elementum nisi quis
            eleifend. Accumsan in nisl nisi scelerisque. Ipsum nunc aliquet bibendum enim facilisis gravida neque
            convallis a. Non enim praesent elementum facilisis leo. Id neque aliquam vestibulum morbi blandit. Id neque
            aliquam vestibulum morbi blandit cursus risus at. Et magnis dis parturient montes. Integer vitae justo eget
            magna fermentum iaculis eu. Integer vitae justo eget magna fermentum iaculis eu non diam.</p>
        <p>Lorem ipsum</p>
    </div>
</div>